%clearfix {
	&:after, &:before {
		content: "";
		display: table;
  }
  &:after {
  	clear: both;
  }
}

// пример подключения
// .class-1 {
// 	@extend %clearfix;
// }


@mixin fira ($style: 'regular') {
	@if $style == 'regular' {
		font-family: 'FiraSans-Regular';
	} @else if $style == 'bold' {
		font-family: 'FiraSans-Bold';
	} @else if $style == 'light' {
		font-family: 'FiraSans-Light';
	} @else if  $style == 'medium' {
		font-family: 'FiraSans-Medium';
	}
}