.about {
	@extend %clearfix;
}

.about__left, {
	float: left;
	width: 40%;
  text-align: center;
}

.about__pic {
  display: inline-block;
  border: 2px solid #ffffffff;
  overflow: hidden;
  border-radius: 50%;
}

.about__pic-item {
	max-width: 220px;
	max-height: 220px;
  display: block;	
}

.about__right {
  float: right;
  width: 56%;
}

.about__text {
 height: 300px;
 overflow: auto;
 margin-bottom: 44px;
}

.text-block {
  font-family: 'FiraSans-light';
  color: #646464;
  font-size: 18px;
  line-height: 26px;
}

.text-block p {
  margin-bottom: 5px;
}

.about__download {
  text-align: right;
}

.about__download-link {
  padding:9px 12px;
  border:2px solid #e85f61;
  color:#e85f61;
  text-decoration:none;
  font-size:14px;
  display:inline-block;
  border-radius:40px;
  font-family:'FiraSans-Bold';
  &:hover {
    color:#fff;
    background:#e85f61;
  }
}

.about__download-link-icon {
  margin-right: 5px;

  &:hover {
  color: #fff;
  background: #e85f61;
  }
}

.about__download-link-text {
  font-family: 'FiraSans-Bold';
  font-size: 16px;
  
  padding-left: 5px;
  
  
}
